header {
    background-color: wheat;
    padding: 1px;
    padding-left: 15px;
    text-align: center;
    width: 100%;
}
div.info {
    background-color:slateblue;
    color:aliceblue;    
    padding: 1px;
    padding-left: 15px;
    text-align: center;
    width: 100%;
}
div.subinfo {
    background-color:aliceblue;
    color:black;
    padding: 1px;
    padding-left: 15px;
    text-align: center;
    width: 100%;
}
img {
    width:100%;
}